/*!**************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./hud/global.css ***!
  \**************************************************************************************************/
.root {
    height: 100%;
    width: 100%;
    background-color: #fafafa;
}

.CustomUIState_HUD{
    height: 100%;
    width: 100%;
}
/*!******************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./hud/app.module.css ***!
  \******************************************************************************************************/
.qbtoOev7TBE5D88Eu_bz {
	flow-children: right;
	margin-top: 20px;
	margin-left: 50px;
}

.qbtoOev7TBE5D88Eu_bz Button {
	border: 1px solid black;
	height: 50px;
}

.TBXbQvSvgWvepZ9T00B2 {
	align: center center;
	flow-children: right;
}
