.card{
    height: 170px;
    width: 150px;
    border-radius: 5px;
    background-color: #fafafa;
    flow-children: down;
    brightness: 1.0;
    margin: 2.5px;
    padding: 2.5px;
    transform: scaleX(1) scaleY(1);
    transition-duration: 0.1s;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-in-out;
    box-shadow: fill rgba(0, 0, 0, 0.4) 0px 0px 5px 2px;
}

.card:hover {
    brightness: 1.25;
    transform: scaleX(1.025) scaleY(1.025);
}
